name: Npm deploy

on:
  # Trigger the workflow on push or pull request,
  # but only for the master branch
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: yarn
      - run: yarn test
      - run: yarn codecov
      - run: yarn build
      - run: yarn publish --access public
        env:
          CI: true
          NPM_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
